{% extends 'core/base_public.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="text-center mb-4">
            {% if band and band.logo %}
                <img src="{% url 'public_band_logo' band.slug %}" alt="{{ band.name }}" class="img-fluid mb-3" style="max-height: 200px;">
            {% else %}
                <img src="{% static 'images/backstage-pro-logo.png' %}" alt="Backstage Pro" class="img-fluid mb-3" style="max-height: 50px;">
            {% endif %}
        </div>
        
        <div class="card p-4 text-center">
            <div class="card-body">
                <div class="mb-4 text-success">
                    <i class="fa-solid fa-envelope-circle-check fa-4x"></i>
                </div>
                <h4 class="card-title mb-3">E-mail Enviado!</h4>
                <p class="text-muted mb-4">
                    Nós enviamos instruções para o seu e-mail sobre como redefinir a sua senha. Por favor, verifique a sua caixa de entrada (e também a pasta de spam).
                </p>
                
                <a href="/" class="btn btn-outline-primary w-100 fw-bold">Voltar para o início</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
